html,body {
  background: #fff;
  color: #222;
}

#container {
  margin: auto;
}

#header {
  margin-top: 2em;
}

#site-logo {
  float: right;
}

#site-title,
a:link,
a:active,
a:visited {
}

#site-title,
a:link,
a:active,
a:visited {
  color: #222;
}

a:hover {
  color: #002266
}

#site-title {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: xx-large;
}

#site-title a:link,
#site-title a:active,
#site-title a:visited,
#site-title a:hover {
  text-decoration: none;
}

#footer {
  color: #777;
}

#site-slogan {
  margin-top: .75em;
}

nav {
  clear: both;
  margin-top: 3em;
  margin-bottom: 0em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a:link,
nav a:active,
nav a:visited,
nav a:hover {
  text-decoration: none;
}

nav a:link,
nav a:active,
nav a:visited {
  color: #444;
}

nav a:hover {
  color: #002266;
}

nav .active {
  font-weight: bold;
}

#content,
hr {
  border-top: 1px dashed #aaa;
}

.post {
  border-top: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
}

#content {
  margin-top: 1em;
}

#article {
  margin-top: 2em;
  margin-bottom: 4em;
  border-bottom: 1px dashed #aaa;
}

.date {
  color: #002266;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  font-weight: 400;
}

#article p, #article ol li, #article ul li {
  text-align: left;
}

#article blockquote {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.05em;
  line-height: 1.5em;
}

#article dl dt {
  font-weight: bold;
}

#article dl dt em {
  font-weight: normal;
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 2.5em 0;
}

img {
  max-width: 100%;
}

#footer {
  clear: both;
  padding-top: 2em;
  margin-top: 4em;
  font-size: 90%;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  #container {
    width: 950px;
  }

  nav ul li a {
    display: block;
    font-size: 90%;
  }

  nav ul > li {
    display: inline-block;
    position: relative;
    padding-right: 1.25em;
  }

  li {
    position: relative;
  }

  #article {
    width: 700px;  /* 576px;  */
    position: relative;
  }
}

.footnote {
  font-size: 0.85em;
}